# npm publish configuration
registry=http://neocvm58:8081/repository/npm-neos/
email=admin@neos.hr
always-auth=true
_auth=YWRtaW46YWRtaW4xMjM=

# npm install configuration
registry=http://neocvm58:8081/repository/npm-group/

