////
/// Panels
//
.panel {
    background-color: $white;
    border-radius: $radius;
    margin-bottom: 8px;
    &.open {
        .panel-body {
            display: block;
        }
    }
    .panel-heading {
        padding: $padding / 2;
        a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-decoration: none;
            &:hover,
            &:focus {
                .panel-toggle {
                    color: $grey-brand;
                }
            }
        }
        .panel-title {
            // text-transform: uppercase;
            font-size: 14px;
            margin: 0;
        }
        .panel-toggle {
            @include transition(color);
            font-size: 14px;
            color: $grey-brand-light;
        }
    }
    .panel-body {
        display: none;
        padding: 0 $padding / 2 $padding / 2;
    }
}